*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: monospace;
	text-align: center;
	height: 100vh;
	background-color: #444;
	color: white;
}
header{
	display: flex;
	justify-content: center;
	height: 10%;
	border-bottom: 1px solid black;
	background-color: #222;
}
.container-h{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	margin: 0 30px;
	width: 1000px;
}
h2{
	background-image: linear-gradient(90deg,#444,#666,#888,#aaa,#ccc);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: -10px 15px 10px black;
}
h2:hover{
	background-image: linear-gradient(90deg,#077,#0aa,#0ff,#4ff,#8ff);
}
nav ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
ul li{
	margin-left: 20px ;
	list-style: none;
}
ul li a{
	padding: 10px;
	text-decoration: none;
	background-color: #333;
	color: #d3d3d3;
}
ul li a:hover {
	background-color: #111;
}
main{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 85%;
}
.container-m{
	width: 50%;
	margin: auto;
}
.container-m h1{
	font-size: 30px;
}
.container-m p{
	font-size: 15px;
	padding-top: 10px;
}
.container-m abbr{
	text-decoration: none;
}
.container-m img{
	width: 400px;
	margin-top: 10px;
	border: 3px solid #888;
}
.container-m img:hover{
	border-color: cyan;
}
footer{
	display: flex;
	justify-content: space-around;
	height: 5%;
	border-top: 1px solid black;
	background-color: #222;
}
.container-f{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	margin: 0 30px;
	width: 400px;
}
footer p,a{
	color: #d3d3d3;
	text-decoration: none;
}
.cyan:hover{
	color: cyan;
}