*{
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			body{
				font-family: monospace;
				text-align: center;
				color: white;
				background-color: #444;
				height: 100vh;
			}
			header{
				display: flex;
				justify-content: center;
				height: 10%;
				background-color: #222;
			}
			nav{
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 100%;
				margin: 0 30px;
				width: 1000px;
			}
			h2{
				background-image: linear-gradient(90deg,#444,#666,#888,#aaa,#ccc);
  			-webkit-background-clip: text;
  			-webkit-text-fill-color: transparent;
			}
			h2:hover{
				background-image: linear-gradient(90deg,#077,#0aa,#0ff,#4ff,#8ff);
			}
			nav ul{
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			ul li{
				margin-left: 20px ;
				list-style: none;
			}
			ul li a{
				color: lightgray;
				text-decoration: none;
				background-color: #333;
				padding: 10px;
			}
			ul li a:hover {
				color: cyan;
				background-color: #111;
			}
			main{
				height: 85%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			div{
				width: 50%;
				margin: auto;
			}
			div h1{
				font-size: 30px;
			}
			div p{
				font-size: 15px;
				padding-top: 10px;
			}
			span:hover{
				color: cyan;
			}
			abbr{
				text-decoration: none;
			}
			div img{
				border: 3px solid #888;
				width: 400px;
				margin-top: 10px;
			}
			div img:hover{
				border-color: cyan;
			}
			footer{
				border-top: 1px solid black;
				background-color: #222;
				height: 5%;
				justify-content: center;
				align-items: center;
				display: flex;
			}
			footer p{
				color: lightgray;
			}
			footer p a{
				color: lightgray;
				text-decoration: none;
			}
			footer p a:hover{
				color: cyan;
			}